div#home{
  padding-top: 40px;
  width: 770px;
  @media only screen and (max-device-width : 320px) {
    width: 90%;
    padding-top: 10px;
  }
  .date{
    text-align: right;
    float: right;
    width: 100px;
   }
  margin: auto;
  p#bio{
    font-size: 120%;
    padding-bottom: 30px;
  }
  ul{
    list-style-type: none;
    li{
      border-bottom: 1px solid #DDD;
      padding: 4px 0 2px 0;
    }
  }
}
.slides{
  background: $gray03;
  border-radius: 5px;
  padding: 0px 1em;
  margin-right: 1em;
  font-size: 90%;
}
#pagenavi{
	padding: 20px 0;
	height: 20px;
	line-height: 20px;
	position: relative;
	// @include border-shadow();
	a{
		&:hover{
			text-decoration: underline;
		}
	}
	.prev, .next{
		position: absolute;
	}
	.prev{
		background: image-url('back.png') 0 center no-repeat;
		padding-left: 30px;
		left: 0;
	}
	.next{
		background: image-url('more.png') right center no-repeat;
		padding-right: 30px;
		right: 0;
	}
	.center{
		text-align: center;
		width: 100%;
		display: block;
	}
}
