.post{
	h1.title, .entry{
		margin-left: 200px;
		@media screen and (max-width: 800px){
			margin-left: 0;
		}
    @media screen and (max-device-width : 320px) {
      line-height: 1.4;
    }
	}
	.meta{
		position: absolute;
		top: 85px;
		line-height: 1.6;
		font-size: $meta-size;
		color: $gray02;
		width: 170px;
    .author{
      padding-left: 32px;
      color: #CCC;
    }
		@media screen and (max-width: 800px){
			margin-top: 15px;
			position: static;
			width: auto;
		}
		a{
			@include link-colors($gray02, $gray01);
			@include transition(0.3s);
		}
		.date, .tags, .comments, .legacy{
			padding-left: 30px;
			@media screen and (max-width: 800px){
				@include inline-block;
				margin-right: 30px;
			}
		}
		.date{
			background: image-url('date.png') 0 center no-repeat;
		}
		.tags{
			background: image-url('tags.png') 0 center no-repeat;
		}
		.comments{
			background: image-url('comments.png') 0 center no-repeat;
		}
	}
}
