<div class="vcard">
  <img class="photo" src="{{ root_url }}/images/matt_aimonetti.jpg" />
  <div id='info'>
   <strong class="fn">Matt Aimonetti</strong><br>
   <span class="title">Sr Software Engineer</span> at <span class="org"><a href='http://corporate.livingsocial.com/'>LivingSocial</a></span>,<br>
   <span class="adr">
      <span class="locality">San Diego</span>, <span class="region">CA</span>
      <span class="postal-code">92129</span>
    </span>
  </div>
</div>
<div id='copyright-notice'>Copyright &copy; {{ site.time | date: "%Y" }} {{ site.author }}</div>
