<div id='meta' class='inner'>
  <div id="matt-aimonetti" itemscope itemtype="http://data-vocabulary.org/Person">
    <a href='/about'><img class="photo left" title='About Matt Aimonetti'
      alt='Photo of Matt Aimonetti' src="{{ root_url }}/images/matt_aimonetti.jpg" /></a>
    <h1 class="left"><a itemprop="name" href="{{ root_url }}/">{{ site.title }}</a></h1>
    <br>
    <ul class='left bio-summary'>
      <li><a href='http://www.linkedin.com/in/{{ site.linkedin }}'>Software Architect</a> at <span itemprop="affiliation">LivingSocial</span></li>
      <li><a href='http://www.oreillynet.com/pub/au/4385'>Author</a> at <span itemprop="affiliation">O'Reilly</span></li>
      <li>Open-source <a href="/posts/archives/">evangelist</a></li>
      <li><a href="https://github.com/mattetti">Web engineer</a></li>
    </ul>
  <div class="right">
    <div class="right">
      <div id="cse-search-form">Loading</div>
      <div class="social right">
        {% if site.facebook_user %}
        <a class="facebook" href="http://www.facebook.com/{{ site.facebook_user }}" title="Facebook">Facebook</a>
        {% endif %}
        {% if site.googleplus_user %}
        <a class="google" rel='me' href="https://plus.google.com/{{ site.googleplus_user }}?rel=author" title="Google+">Google+</a>
        {% endif %}
        {% if site.twitter_user %}
        <a class="twitter" rel='me' href="http://twitter.com/{{ site.twitter_user }}" title="Twitter">Twitter</a>
        {% endif %}
        {% if site.github_user %}
        <a class="github" rel='me' href="https://github.com/{{ site.github_user }}" title="GitHub">GitHub</a>
        {% endif %}
        {% if site.pinterest_user %}
        <a class="pinterest"  rel='me' href="https://pinterest.com/{{ site.pinterest_user }}" title="Pinterest">Pinterest</a>
        {% endif %}
        {% if site.linkedin %}
        <a class="linkedin" rel='me' href="http://www.linkedin.com/in/{{ site.linkedin }}" title="Linkedin">Linkedin</a>
        {% endif %}
        {% if site.subscribe_rss %}
        <a class="rss" rel='me' href="{{ site.subscribe_rss }}" title="RSS">RSS</a>
        {% endif %}
      </div>
      <nav class="menu">{% include navigation.html %}</nav>
    </div>
  </div>
</div>
{% include custom/header.html %}
