---
layout: default
---

<div id='home'>
  {% include bio.html %}
<section id='recent-posts'>
  <h2>Recent</h2>
  <ul class='posts'>
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
  {% include home_page_article.html %}
  {% endfor %}
  </ul>
</section>
</br>
</br>

<section id='popular'>
  <h2>Popular</h2>
  <ul class='popular'>
  {% assign index = true %}
    {% for post in site.posts %}
    {% if post.categories contains 'Popular' %}
      {% assign content = post.content %}
      {% include home_page_article.html %}
    {% endif %}
  {% endfor %}
  </ul>
</section>


<nav id="pagenavi">
  <a href="{{ root_url }}/posts/archives" class="center">View all articles</a>
</nav>

<section id='presentations'>
  <h2>Presentations</h2>
  <ul>
    {% for post in site.posts %}
      {% if post.categories contains 'Presentation' %}
        {% assign presentation = post %}
        {% include presentation_list_item.html %}
      {% endif %}
    {% endfor %}
  </ul>
</section>

</div>

