---
layout: default
---

<div id='home'>
  {% include bio.html %}
<h2>Recent Posts</h2>
<ul class='posts'>
{% assign index = true %}
{% for post in paginator.posts %}
{% assign content = post.content %}
{% include home_page_article.html %}
{% endfor %}
</ul>

<nav id="pagenavi">
  <a href="{{ root_url }}/posts/archives" class="center">View older articles</a>
</nav>

<section id='presentations'>
  <h2>Presentations</h2>
  <ul>
    {% for post in site.posts %}
      {% if post.categories contains 'Presentation' %}
        <li class="title entry-title">
          <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
          <div class="date updated right">{% include post/date.html %}{{ time }}</div>
          <span class='slides right'>
            {% if post.slides %}
              <a href="{{ root_url }}{{ post.slides }}">Slides</a>
            {% else %}
              Slides
            {% endif %}
          </span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>

</div>

